{% extends "layout.html" %}

{% block content %}
{% include '_message.html' %}
<div class="text-center h1 text-danger">Register</div>

<div class="container">
    {% from "_formhelpers.html" import render_field %}
<form method="post" enctype="multipart/form-data">
  <dl>
      {{ render_field(form.name, class="form-control") }}
    {{ render_field(form.username, class="form-control") }}
    {{ render_field(form.email, class="form-control") }}
    {{ render_field(form.password, class="form-control") }}
    {{ render_field(form.confirm, class="form-control") }}
    <input type="file" name="photo">
  </dl>
    <p><input type=submit value=Register class="btn btn-info mt-0"></p>
</form>
</div>
{% endblock %}
