body {
  box-sizing: border-box;
  background-color: rgb(234, 237, 237);
}

.sections-two {
  display: grid;
  grid-template-columns: 1fr 400px;
}

.first-section1 {
}

.desc-1 {
  border-bottom: 1px solid rgb(227, 220, 220);
  font: 28px;
  color: #0f1111;
  font-weight: 400;
}

.cart-item-name {
  font-size: 22px;
  color: #0f1111;
  margin-bottom: 0px;
  font-weight: 400;
  line-height: 25.5px;
}

.shop-cart {
  margin-bottom: 0px;
}

.desc-1 a {
  color: rgb(0, 113, 133);
  font-size: 18px;
}

.desc-1 a:hover {
  color: rgb(231, 112, 112);
  text-decoration: underline;
}
.bg-color {
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
  margin-left: 10px;
  margin-right: 15px;
}
.price {
  display: block;
  text-align: end;
  margin-left: 2px;
  color: #565959;
  font-size: 17px;
}

.description-grid {
  display: grid;
  grid-template-columns: 250px 1fr 100px;
  margin-bottom: 35px;
  margin-top: 25px;
  border-bottom: 1px solid rgb(227, 220, 220);
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom: 45px;
}

.img-cart-width {
  width: 250px;
  object-fit: contain;
  height: 200px;
  padding-right: 0px;
  margin-right: 0px;
}

.descript-1 {
  padding-top: 0;
  padding-left: 35px;
  margin-right: -10px;
}

.sub-total {
  text-align: end;
  color: rgb(15, 17, 17);
  font-size: 18px;
}

.total-span {
  color: #0f1111;
  font-size: 20px;
  font-weight: 500;
}
.descript-3 {
  text-align: end;
  color: #0f1111;
  font-size: 20px;
  font-weight: 500;
  padding-top: 30px;
}

.cart-interactn {
  display: flex;
  align-items: baseline;
  margin-top: 25px;
  padding-top: 10px;
}

.cart-stock {
  color: rgb(0, 118, 0);
  font-size: 14px;
}

.cart-interactn a {
  border-left: 1px solid rgb(227, 220, 220);
  color: rgb(0, 113, 133);
  font-size: 14px;
  padding-left: 10px;
}

.descript-2 {
  margin-left: 5px;
  padding-top: 30px;
}
.btn1-tag a {
  border: none;
  color: black;
  padding-left: 3px;
  padding-right: 3px;
}

.del-style1 {
  margin-left: 7px;
}

.cart-checkout1 {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  border-radius: 3px;
  padding: 0 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-right: 20px;
}

.sub-total2 {
  text-align: start;
  margin-bottom: 0px;
}

.cart-checkout-input {
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
}

.check-bx2 {
  color: #0f1111;
  font-size: 15px;
  margin-left: 5px;
}

.check-bx1 {
  padding: 5px;
  font-size: 16px;
}

.btn-warn {
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 95px;
  border-radius: 10px;
}

.take-note {
  font-size: 14px;
  color: #0f1111;
  margin-left: 10px;
  margin-right: 20px;
}

.bg-color2 {
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}

.bg-color3 {
  background-color: white;
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 10px;
}

.item-para {
  font-size: 20px;
  margin-left: 30px;
  font-weight: 600;
  padding-top: 20px;
}

.related-pdt {
  font-size: 20px;
  margin-left: 30px;
  font-weight: 600;
  padding-top: 20px;
}

.cust-items {
  display: grid;
  grid-template-columns: 170px 1fr;
}

.cart-dis-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.cust-items-column {
  display: flex;
  flex-direction: column;
}

.cart-flex-num {
  display: flex;
  flex-direction: column;
}

.item7-grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  margin: 10px 20px;
  row-gap: 20px;
  column-gap: 10px;
}

.item7-grid5 {
  margin-bottom: 0;
}

.item7-grid1 {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
  margin: 10px 20px;
  row-gap: 20px;
  column-gap: 10px;
}

.item-link-cls a {
  color: #0f1111;
}

.align-center {
  text-align: center;
}

.grid-class3-5 {
  border: none;
}

.link-disp a {
  color: #4f5252;
}
