body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 105px;
  font-family: "Roboto";
}

.order-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-icon {
  display: flex;
  justify-content: space-around;
}

.nav-icon,
a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}

.home-link {
  color: white;
}



.mg-icon {
  font-size: 16px;
  color: white;
}

.logo {
  color: white;
}
.sign-margin {
  margin-left: 30px;
  color: white;
}

.sign-in {
  position: relative;
}

.abs-cls {
  position: absolute;
  left: 17px;
  top: -5px;
  background-color: #f50035;
  border-radius: 7px;
  font-size: 12px;
  color: white;
  border: 1px solid red;
  padding: 2px 3.8px;
}

.input-st {
  width: 96.5%;
  padding: 6px 23px 6px 12px;
  border: 1px solid rgb(217, 214, 214);
  border-radius: 3px;
}

.icon-button {
  padding: 8px 12.5px;
  margin-left: -7px;
  border: none;
  background-color: #f50035;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: white;
}

.fixed-position {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 110px;
  background-color: rgb(15, 17, 17);
  z-index: 100;
  color: white;
}

.nav-icon
a {
  margin-right: 15px;
  color: white;
  text-decoration: none;
}
